//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: rem(8);
	// width: 100%;
	display: block;
	padding: 0px 20px;
	font-size: rem(14);
	background-color: #f2f6fa;
	@include adaptiveValue("padding-top", 30, 23, 1920, 992, 1);
	@include adaptiveValue("padding-bottom", 30, 23, 1920, 992, 1);
	height: 100%;
	padding-left: rem(74);
	&._form-focus {
	}
	&._form-error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
