//====================================================================================================
.page {
    // .page__main-block

    &__main-block {
        position: relative;
        background: url("@img/main-block/bg.jpg") right 0 no-repeat;
        background-size: cover;
    }

    // .page__product-hot

    &__product-hot {
        position: relative;
        background-color: url("@img/order/bg-01.png") 0 top no-repeat;
    }

    // .page__order

    &__order {
        background-color: #081130;
    }

    // .page__specialist

    &__specialist {
    }

    // .page__reviews

    &__reviews {
        background-color: #081130;
    }

    // .page__portfolio

    &__portfolio {
    }
}
//====================================================================================================

.main-block {
    // .main-block__berry
    &__berry {
        display: none;
        @media (min-width: $tablet) {
            display: block;
            position: absolute;
        }
        @media (max-width: rem(1450)) {
            transform: scale(80%);
        }
        @media (max-width: rem(1380)) {
            transform: scale(50%);
        }
    }
    .berry-1 {
        top: 15%;
        left: 0;
        transform-origin: 0 0 0;
        @media (max-width: rem(1450)) {
            top: 8%;
        }
    }
    .berry-2 {
        bottom: 0%;
        left: 0;
        transform-origin: 0 0 0;
        @media (max-width: rem(1450)) {
            bottom: -10%;
        }
        @media (max-width: rem(1150)) {
            bottom: -20%;
        }
    }
    .berry-3 {
        top: 9%;
        right: 0;
        transform-origin: 100% 0 0;
        @media (max-width: rem(1150)) {
            top: 12%;
        }
    }
    .berry-4 {
        top: 68%;
        right: 8%;
        transform-origin: 100% 0 0;
    }
    // .main-block__container

    &__container {
        @include adaptiveValue("padding-top", 307, 180, 1920, 991.98, 1);
        @include adaptiveValue("padding-bottom", 440, 30);
    }

    // .main-block__content

    &__content {
        color: #fff;
        @media (min-width: rem(850)) {
            max-width: 55%;
        }
    }
    // .main-block__above-title

    &__above-title {
    }

    // .main-block__title

    &__title {
        @media (max-width: $tablet) {
            // background-color: rgba(0, 0, 0, 0.6);
            text-shadow: 0px 0px 5px #000;
            margin-top: rem(24);
            // padding: rem(15);
            border-radius: rem(5);
        }
    }

    // .main-block__text

    &__text {
        @media (max-width: $tablet) {
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: rem(15);
            padding: rem(15);
            border-radius: rem(5);
        }
    }

    // .main-block__button-block

    &__button-block {
        padding-top: rem(24);
    }
}
.button-block {
    @media (min-width: $tablet) {
        display: flex;
        gap: rem(20);
        align-items: center;
    }

    // .button-block__button

    &__button {
    }

    // .button-block__note

    &__note {
        max-width: rem(150);
        font-size: rem(15);
        line-height: 160%;
        @media (max-width: $tablet) {
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: rem(15);
            padding: rem(10) rem(15);
            border-radius: rem(5);
            max-width: 100%;
        }
    }
}

//====================================================================================================
.product-hot {
    // .product-hot__container

    &__container {
        position: relative;
    }

    &__berry {
        display: none;
        @media (min-width: $tablet) {
            display: block;
            position: absolute;
            z-index: 5;
        }
        @media (max-width: rem(1450)) {
            transform: scale(80%);
        }
        @media (max-width: rem(1380)) {
            transform: scale(50%);
        }
    }
    .berry-1 {
        top: 0;
        left: 0;
        transform: translate(-60%, 60%);
    }
    .berry-2 {
        bottom: 20%;
        left: 0;
        transform: translate(-100%, 0);
    }
    .berry-3 {
        bottom: 35%;
        right: 0;
        transform: translate(70%, 0);
    }

    // .product-hot__header

    &__header {
        font-weight: 500;
        @include adaptiveValue("font-size", 48, 24);
        @include adaptiveValue("margin-bottom", 80, 30);
        line-height: math.div(60, 48);
        text-align: center;
        letter-spacing: -1px;
    }

    // .product-hot__cards

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(20);
    }

    // .product-hot__card

    &__card {
        flex: 0 1 31%;
        @media (max-width: $tablet) {
            flex: 0 1 47%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 100%;
        }
    }
}

//====================================================================================================
.order {
    position: relative;

    // .order__img

    &__img {
        position: relative;
        z-index: 2;
        img {
            width: 100%;
        }
    }

    // .order__img
    &__phone {
        position: absolute;
        z-index: 1;
        width: 50%;
        // height: 30%;
        bottom: 0;
        left: 0;
        img {
            width: 100%;
        }
        @media (max-width: $tablet) {
            width: 55%;
        }
        @media (max-width: $mobile) {
            position: relative;
            width: 70%;
            margin-top: -15%;
            transform: translateY(30%);
        }
    }

    // .order__container

    &__container {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    // .review__leaf
    &__leaf {
        display: none;
        top: 0;
        left: 0;
        @media (min-width: $tablet) {
            display: block;
            position: absolute;
            transform: translate(10%, 0);
        }
    }
    // .review__berry
    &__berry {
        display: none;
        top: 0;
        right: 0;
        transform: translate(100%, -50%);
        @media (min-width: $tablet) {
            display: block;
            position: absolute;
        }
    }
    // .order__content

    &__content {
        position: relative;
        z-index: 3;
        color: #fff;
        flex: 0 1 41.67%;
        padding-top: rem(50);
        @media (max-width: $mobile) {
            flex: 0 1 100%;
        }
    }

    // .order__above-title

    &__above-title {
    }

    // .order__title

    &__title {
        margin-top: rem(24);
    }

    // .order__text

    &__text {
    }

    // .order__button

    &__button {
        margin-top: rem(24);
    }
}

//====================================================================================================
.page {
}
.specialist {
    // .specialist__container

    &__container {
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
        }
    }

    // .specialist__content

    &__content {
        @media (min-width: $mobile) {
            @include adaptiveValue("padding-top", 97, 30, 1920, 768, 1);
            flex: 0 1 48%;
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(30);
        }
    }

    // .specialist__above-title

    &__above-title {
    }

    // .specialist__title

    &__title {
    }

    // .specialist__text

    &__text {
        margin-top: rem(30);
        padding-top: 0;
    }

    // .specialist__items

    &__items {
    }

    // .specialist__item

    &__item {
        position: relative;
        padding-left: rem(22);
        @include adaptiveValue("padding-right", 100, 30);
        font-size: rem(18);
        line-height: 150%;
        &:not(:last-child) {
            padding-bottom: rem(30);
        }
        &::before {
            content: "";
            position: absolute;
            width: rem(10);
            height: rem(10);
            top: rem(6);
            left: 0;
            background-color: #5d6afb;
            border-radius: 50%;
        }
    }

    // .specialist__button

    &__button {
        @include adaptiveValue("margin-top", 56, 24);
    }

    // .specialist__img

    &__img {
        position: relative;
        img {
            object-fit: cover;
            width: 100%;
        }
        @media (min-width: $mobile) {
            flex: 0 1 50%;
        }
        @media (max-width: $mobile) {
            width: 70%;
            margin: 0 auto;
        }
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
    // .specialist__leaf
    &__leaf {
        top: 20%;
        left: 40%;
        transform: translate(10%, 0);
        position: absolute;
        z-index: -1;
    }
    // .specialist__berry
    &__berry {
        top: 17%;
        left: 0%;
        position: absolute;
        z-index: -1;
        @media (max-width:$mobile){
            transform: translate(-15%, -15%);
        }
    }

    // .specialist__description
    &__description {
        position: absolute;
        bottom: percent(162, 652);
        left: percent(-72, 487);
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $mobileSmall) {
            left: 0;
        }
    }

    &__name,
    &__sub {
        position: relative;
        display: inline-block;
        padding: rem(15) rem(24);
        border-radius: rem(8);
        // clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
        transform: skew(-10deg, 0);
        span {
            display: inline-block;
            transform: skew(10deg, 0);
        }
    }
    // .specialist__name

    &__name {
        background-color: $mainColor;
        color: #fff;
        font-weight: 500;
        font-size: rem(24);
        line-height: math.div(29, 24);
    }

    // .specialist__sub

    &__sub {
        text-transform: uppercase;
        background-color: #f2f6fa;
        font-size: rem(18);
        line-height: math.div(22, 18);
    }
}

//====================================================================================================

.reviews {
    // .reviews_header

    &__header {
        position: relative;
    }

    // .review__leaf
    &__leaf {
        display: none;
        top: 0;
        left: 0;
        transform: translate(-50%, -30%);
        @media (min-width: $tablet) {
            display: block;
            position: absolute;
        }
    }
    // .review__berry
    &__berry {
        display: none;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        @media (min-width: $tablet) {
            display: block;
            position: absolute;
        }
    }

    // .reviews_title

    &__title {
        font-weight: 500;
        @include adaptiveValue("font-size", 48, 24);
        line-height: math.div(60, 48);
        color: #fff;
        letter-spacing: -1px;
        text-align: center;
        @include adaptiveValue("margin-bottom", 80, 30, 1920, 992, 1);
    }

    // .reviews_review

    &__review {
    }

    // .reviews__img

    &__img {
        position: relative;
        z-index: 2;
        img {
            width: 100%;
        }
    }

    // .reviews__slider

    &__slider {
    }

    // .reviews__wrapper

    &__wrapper {
    }

    // .reviews__slide

    &__slide {
        position: relative;
        opacity: 0.1;
        transform: scale(0.9);
        background: #fff;
        border: 2px solid #e2eaf2;
        box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        @include adaptiveValue("padding-top", 70, 30, 1920, 992, 1);
        @include adaptiveValue("padding-bottom", 70, 30, 1920, 992, 1);
        @include adaptiveValue("padding-left", 143, 30, 1920, 992, 1);
        @include adaptiveValue("padding-right", 143, 30, 1920, 992, 1);
        @media (min-width: $mobile) {
            display: flex;
            gap: rem(50);
        }
    }

    // .reviews__client

    &__client {
    }
}
.swiper-slide-active {
    opacity: 1;
    transform: scale(1);
}
.review {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    // .review__quote

    &__quote {
        opacity: 0.9;
        @include adaptiveValue("font-size", 28, 18);
        color: #5d6afb;
    }

    // .review__title

    &__title {
        margin-top: rem(30);
        font-weight: 500;
        font-size: 30px;
        line-height: 143%;
    }

    // .review__text

    &__text {
        margin-top: rem(24);
        font-size: 15px;
        line-height: 170%;
    }

    // .review__show-all

    &__show-all {
        margin-top: rem(24);
        cursor: pointer;
        font-size: 14px;
        line-height: 150%;
        color: #4a94ff;
        border-bottom: 1px dashed #4a94ff;
        // span {
        //     position: absolute;
        // }
    }
}
.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    // .client__photo

    &__photo {
        border-radius: 50%;
        overflow: hidden;
        // padding-bottom: percent(200,200);
        width: 300px;
        height: 300px;
        @media (max-width: $mobile) {
            margin-top: rem(20);
            width: 280px;
            height: 280px;
        }
    }

    // .client__name

    &__name {
        padding-top: rem(24);
        font-weight: 500;
        @include adaptiveValue("font-size", 21, 18);
        line-height: 143%;
    }

    // .client__city

    &__city {
        font-size: rem(16);
        line-height: 170%;
        color: #a6aeb6;
    }
}
.reviews-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(24);
    @include adaptiveValue("margin-top", 70, 20);
}
.reviews-button-prev,
.reviews-button-next {
    position: relative;
    width: rem(66);
    height: rem(66);
    border-radius: 50%;
    background-color: #fed84c;
    color: #2e363e;
    font-size: rem(24);
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//====================================================================================================

.portfolio {
    @media (max-width: $tablet) {
        padding-left: rem(15);
        padding-right: rem(15);
    }
    // .portfolio__title

    &__title {
        font-weight: 500;
        @include adaptiveValue("font-size", 48, 24);
        line-height: math.div(60, 48);
        text-align: center;
        letter-spacing: -1px;
    }

    // .portfolio__subtitle

    &__subtitle {
        @include adaptiveValue("font-size", 24, 18);
        line-height: 143%;
        text-align: center;
    }

    // .portfolio__images

    &__images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: rem(9);
        @include adaptiveValue("margin-top", 80, 30);
    }

    // .portfolio__img

    &__img {
        position: relative;
        flex: 0 1 32.8%;
        padding-bottom: percent(444 * 0.328, 634);
        @media (max-width: $mobile) {
            flex: 0 1 49.3%;
            padding-bottom: percent(444 * 0.493, 634);
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 100%;
            padding-bottom: percent(444, 634);
        }
    }
}

//====================================================================================================
